*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    width: 100%;
    background-color: darkcyan;

 
}
/*marcando las areas*/


.nav{
    grid-area: nav;
}
.imagenAuto{
    grid-area: imagenAuto;
}
.datos{
    grid-area: datos;
}
.boton{
    grid-area: boton;
}

@media(min-width:420px){
    .container{
    display: grid;
    grid-template-areas:
    "nav"
    "imagenAuto"
    "datos"
    "navbar-toggler"
    "boton";
    grid-template-rows: 2fr;
    }
    .imagenAuto{
       width: 100%;
       position: absolute;
       text-align: center;
       padding-bottom: 50px;
    }
    

   .navbar-toggler{
    
    background: rgb(242, 243, 245);
    margin-right: 30px;
   }

   .nav-link{

    font-weight: bolder;
    text-align: center;
    font-size: 30px;
   }

   .datos{
    color: black;
    font-weight: bolder;
    font-size: 25px;
    padding: 30px;
    margin-top: 20px;
   }
    .boton{
        margin-top: 30px;
    }
   
    }


    @media (min-width:720px) {
    
            .container{
            display: grid;
            grid-template-areas:
            "titulo"
            "nav"
            "imagenAuto"
            "datos"
            "navbar-toggler";
            grid-template-rows: 2fr;
            }
            .imagenAuto{
                position: relative;
                left: 400px;
                bottom: 100px;
            }
            
        
           .navbar-toggler{
            
            background: rgb(242, 243, 245);
           }
        
           .tituloPrincipal{
            font-size: 150px;
            background-color: black;
            padding: 40px;
            color: rgb(255, 0, 0);
           }
        
           .datos{
            color: black;
            font-weight: bolder;
            font-size: 30px;
            margin-top: 20px;
            margin-bottom: 50px;
           }
           .input{
            padding: 50px;
            margin-bottom: 20px;
           }
        
           

}