*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: url(../imagenes/cubiertas\ en\ fila-gigapixel-standard-scale-4_00x\ 222.jpg) no-repeat center top fixed;
     background-size: cover;
     margin: 10px;

}



/* areas*/


.titulo{
    grid-area: titulo;
}
.titulo2{
    grid-area: titulo2;
}
.navbar{
    grid-area: navbar;
}
.p1{
    grid-area: p1;
}
.nav-link{
    grid-area: nav-link;
}

@media (min-width:420px){
       .container{
      grid-area: 
        "navbar"
        "nav-link"
        "navbar-collapse"
        "titulo2"
        "p1";
       grid-template-columns: 1fr;
    }
     .navbar{
        margin-top: 30px;
    }
    .nav-link{
        background-color: azure;
        margin-right: 50px;
        font-size: 20px;
     }
    .titulo2{
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
        color: rgb(252, 0, 0);
        font-weight: bolder;

    }
   .p1{
    font-size: 30px;
    color: rgb(250, 156, 5);

    margin: 50px 10px 50px 10px;
    text-align: center;
   }

  .nav-link{
    padding:10px;
    font-size: 20px;
    margin: 20px;
    font-size: 30px;
  }
  
}

@media (min-width:720px){
    .container{
   grid-area:
     "navbar-collapse"
     "navbar"
     "nav-link"
     "titulo"
     "titulo2"
     "p1";
    grid-template-columns: 1fr;
 }
 .navbar{
    font-size: 30px;
    margin-right: 30px;
    margin-top: 80px;
 }
 .nav-link{
    text-align: center;
 }
 .titulo2{
    color: rgb(255, 0, 0);
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
 }
 .p1{
    font-size: 30px;
    color: 
    
 }
}


@media (min-width:1024px){
    .container{
   grid-area:
     "navbar-collapse"
     "navbar" 
     "titulo"
     "titulo2"
     "p1";
    grid-template-columns: 1fr;

}

.titulo{
    background-color: tomato;
    color: black;
    font-size: 100px;
}
.navbar{
    margin-right: 400px;
    padding-left: 100px;
    margin-left: 450px;
}
.navbar-collapse{
    font-size: 40px;
}
.titulo2{
    color: rgb(255, 0, 0);
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 60px;
    font-weight: bolder;
 }
 
 .p1{
    color: rgb(6, 242, 246);
    font-size: 50px;
    margin: 50px
 }
}