*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: url(../imagenes/cubiertas\ en\ fila.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 10px;
}



/* areas*/


.titulo{
    grid-area: titulo;
}
.titulo2{
    grid-area: titulo2;
}
.navbar{
    grid-area: navbar;
}
.p1{
    grid-area: p1;
}
.nav-link{
    grid-area: nav-link;
}

@media (min-width:420px){
       .container{
      grid-area: 
        "navbar"
        "nav-link"
        "navbar-collapse"
        "titulo2"
        "p1";
       grid-template-columns: 1fr;
    }

    .titulo2{
        font-size: 40px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        color: rgb(252, 0, 0);
        font-weight: bolder;

    }
   .p1{
    font-size: 30px;
    color: rgb(250, 189, 5);

    margin: 50px 10px 50px 10px;
    text-align: center;
   }

   .nav-item{
    color: aqua;
   }
  .nav-link{
    background-color: aliceblue;
    margin: 10px 80px;
    padding:10px;
    font-size: 20px;
  }
  a
}

@media (min-width:720px){
    .container{
   grid-area:
     "navbar-collapse"
     "navbar" 
     "titulo"
     "titulo2"
     "p1";
    grid-template-columns: 1fr;
 }
 .navbar{
    font-size: 30px;
    border: 5px solid black ;
    margin-right: 30px;
    margin-top: 80px;
 }
 .titulo{

    font-size: 80px;
    color: blueviolet;
    background-color: aliceblue;
 }
 
 .titulo2{
    color: rgb(255, 0, 0);
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
 }
 .p1{
    font-size: 30px;
    color: 
    
 }
}


@media (min-width:1024px){
    .container{
   grid-area:
     "navbar-collapse"
     "navbar" 
     "titulo"
     "titulo2"
     "p1";
    grid-template-columns: 1fr;

}

.titulo{
    background-color: tomato;
    color: black;
    font-size: 100px;
}
.navbar{
    margin-right: 400px;
    padding-left: 100px;
    margin-left: 450px;
}
.navbar-collapse{
    font-size: 40px;
}
.titulo2{
    color: rgb(255, 0, 0);
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-weight: bolder;
 }

}