*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
   background-color: darkcyan;
}
.navbar-toggler-icon{
    font-size: 30px;
    background-color: rgb(6, 240, 244);
    border: 5px solid black;
    padding: 10px;
}
.navbar-toggler{
    margin-top: 70px;
    margin-bottom: 70px;
    border-color: black;
    border: solid 5px;
    background-color: aliceblue;
}
.nav-link{
    color: black;
    font-size: 20px;
    margin-right: 100px;
    background-color: aliceblue;
    font-weight: bolder;
    margin-right: 150px;
    margin-top: 10px;
}
.container-fluid{
    grid-area: containerFluid;
}
nav{
    grid-area: nav;
}
.neumaticos{
    grid-area: neumaticos;
}
.parrafoUno{
    grid-area: parrafoUno;
}
.rodadoCubiertas{
    grid-area: rodadoCubiertas;
}
.parrafoDos{
    grid-area: parrafoDos;
}
.parrafoTres{
    grid-area: parrafoTres;
}
.imagenes{
    grid-area: imagenes;
}




@media(min-width:420px){
    .container{
        grid-area: 
                 "containerFluid"
                 "navbar-toggler"
                 "button"
                 "productos"
                 "neumaticos"
                 "parrafoUno"
                 "rodadoCubierta"
                 "parrafoDos"
                 "parrafoTres"
                 "imagenes"
                 "footer"
                 "p1" "p2" "p3" "p4" ;
       grid-template-columns: 1fr;
    
    }
    
    .container-fluid{
        text-align: center;
        background-color: black;
    }
    .neumaticos{
        margin-top: 30px;
        text-align: center;
        font-size: 30px;
        margin-left: 10px;
        color: rgb(252, 248, 249);
    }
    .nav{
        margin-left: 50px;
    }
    .navbarNav{
        color: black;
    }
    .navbar{
        color: rgb(9, 9, 9);
        font-size: 10px;
        background-color: coral;
    }
    .productos{
        text-align: center;
        margin-bottom: 30px;
        color: rgb(43, 226, 92);
        font-size: 50px;
    }
    .parrafoUno{
        color: rgb(1, 2, 2);
        margin: 10px;
        margin-bottom: 20px;
        font-weight: bolder;
    }
    .rodadoCubierta{
    margin: 20px;
    margin-right: 50px;
    margin-left: 20px;
    border-style: outset;
    padding: 25px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(115, 116, 121);
    }
     .parrafoDos{
        color: rgb(1, 2, 2);
        margin: 10px;
        font-weight: bolder;
     }


    .parrafoTres{

        color: rgb(1, 2, 2);
        margin: 10px;
        font-weight: bolder;
    }
    
      .footer{
        margin-top:  50px;
      }

    }
    
    @media (min-width:720px){
        .container{
            grid-area: 
                     "containerFluid"
                     "navbar-toggler"
                     "button"
                     "neumaticos"
                     "parrafoUno"
                     "rodadoCubierta"
                     "parrafoDos"
                     "parrafoTres"
                     "imagenes"
                     "footer"
                     "p1" "p2" "p3" "p4" ;
           grid-template-columns: 1fr;
         }
         .container-fluid{
            text-align: center;
            background-color: rgb(248, 243, 243);
        }
        .neumaticos{
            margin: 20px;
            margin-top: 50px;
            text-align: center;
            font-size: 40px;
            color: rgb(246, 246, 252);}

            .parrafoUno{
                color: rgb(1, 2, 2);
                margin: 20px;
                font-weight: bolder;
                font-size: 20px;
            }
          
            .rodadoCubierta{
                margin: 20px;
                margin-right: 80px;
                margin-left: 50px;
                border-style: outset;
                padding: 25px;
                padding-right: 20px;
                padding-left: 150px;
                background-color: rgb(115, 116, 121);
                }

                .parrafoDos{
                    color: rgb(1, 2, 2);
                    margin: 10px;
                    font-weight: bolder;
                    font-size: 20px;
                    margin-bottom: 50px;
                 }
                 .parrafoTres{

                    color: rgb(1, 2, 2);
                    margin: 10px;
                    font-weight: bolder;
                    font-size: 20px;
                }
              
                .p1{
                    color: rgb(255, 140, 0);
                    font-size: 40px;
                    margin: 10px;
                  }
                  .p2{
                    color:rgb(255, 140, 0);
                    font-size: 40px;
                    margin: 10px;
                  }
                  .p3{
                    color:rgb(255, 140, 0);
                    font-size: 30px;
                    margin: 10px;
                  }
                  .p4{
                    color:rgb(255, 140, 0);
                    font-size: 40px;
                    margin: 10px;
                  }
 }

 @media (min-width:1024px){

    .container{
        grid-area: 
                 "containerFluid"
                 "navbar-toggler"
                 "button"
                 "neumaticos"
                 "parrafoUno"
                 "rodadoCubierta"
                 "parrafoDos"
                 "parrafoTres"
                 "imagenes"
                 "footer"
                 "p1" "p2" "p3" "p4" ;
       grid-template-columns: 1fr;
     }
     .container-fluid{
        text-align: center;
        background-color: rgb(248, 243, 243);
    }
    .neumaticos{
        margin: 20px;
        margin-top: 50px;
        text-align: center;
        font-size: 40px;
        color: rgb(246, 246, 252);}

        .parrafoUno{
            color: rgb(1, 2, 2);
            margin: 20px;
            font-weight: bolder;
            font-size: 20px;
        }
      
        .rodadoCubierta{
            margin: 20px;
            margin-right: 300px;
            margin-left: 300px;
            border-style: outset;
            padding: 25px;
            padding-right: 20px;
            padding-left: 600px;
            background-color: rgb(115, 116, 121);
            }

            .parrafoDos{
                color: rgb(1, 2, 2);
                margin: 10px;
                font-weight: bolder;
                font-size: 20px;
                margin-bottom: 50px;
             }
             .parrafoTres{

                color: rgb(1, 2, 2);
                margin: 10px;
                font-weight: bolder;
                font-size: 20px;
            }
          
            .p1{
                color: rgb(255, 140, 0);
                font-size: 40px;
                margin: 10px;
              }
              .p2{
                color:rgb(255, 140, 0);
                font-size: 40px;
                margin: 10px;
              }
              .p3{
                color:rgb(255, 140, 0);
                font-size: 30px;
                margin: 10px;
              }
              .p4{
                color:rgb(255, 140, 0);
                font-size: 40px;
                margin: 10px;
              }
}