*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
     background: url(../imagenes/cubiertas\ en\ fila-gigapixel-standard-scale-4_00x\ 222.jpg) no-repeat fixed;
     background-position: center;
     background-size:cover;
}
nav{
    grid-area: nav;
}
.nav-link{
    grid-area: navLink;
}
.servicio{
    grid-area: servicio;
}
.venta{
    grid-area: venta;
}
.alineacion{
    grid-area: alineacion;
}
.texto{
    grid-area: texto;
}
.info{
    grid-area: info;
}
.imagenes{
    grid-area: imagenes;
}
.textoPrincipal{
    grid-area: textoPrincipal;
}
.horarios{
    grid-area: horarios;
}



/* Mobile */


@media (min-width :420px){

    .container{
        display: flex;
        grid-area:
        "textoPrincipal"
        "nav"
        "nav-link"
        "servicio"
        "venta"
        "alineacion"
        "texto"
        "info"
        "imagenes"
        "horarios";
        grid-template-columns: 1fr;
      }
      .textoPrincipal{
        font-size: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 50px;
        background-color: black;
          
      }
    .nav-link{
        font-size: 30px;
        background-color: rgb(174, 174, 177);
        margin: 10px 60px 10px;
    }
    .navbar-toggler-icon{
        background-color: rgb(142, 145, 145);
        font-size: 30px;
        border-radius: 5px black solid;
    }
    .servicio{
        font-size: 50px;
        font-weight: bolder;
        color: rgb(248, 1, 1);
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
   .venta{
    text-align: left;
    font-size: 20px;
    color: rgb(247, 128, 1);
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 30px;
   }

  .alineacion{

    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    color:rgb(247, 128, 1);
    margin-left: 10px;
    margin-top: 30px;
    }

    .texto{

        font-size: 50px;
        color: rgb(8, 0, 255);
        background-color: black;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .info{
        font-size: 30px;
        color: orangered;
        font-weight: bolder;
        margin: 20px;
        margin-bottom: 200px;
    }

    .imagenes{
        text-align: center;

        margin-top: 100px;
    }
    
}
@media (min-width:720px){

    .container{
        grid-area:
        "textoPrincipal"
        "nav"
        "nav-link"
        "servicio"
        "venta"
        "alineacion"
        "texto"
        "info"
        "imagenes"
        "horarios";
        grid-template-columns: 1fr;
      }


     .textoPrincipal{
        text-align: center;
        background-color: aliceblue;
    }
    .nav-link{
        font-size: 60px;
        color: rgb(35, 248, 2);
        font-weight: bolder;
        padding: 20px;
        text-align: center;
        padding-left: 50px;
    }
    .servicio{
        font-size: 100px;
        font-weight: bolder;
        color: rgb(4, 245, 169);
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
    }
   
    .venta{
        margin-bottom: 100px;
        font-size: 60px;
        margin-top: 50px;
        color: blue;
    }

}
@media (min-width:1024px){

    .container{
        grid-area:
        "textoPrincipal"
        "nav"
        "nav-link"
        "servicio"
        "venta"
        "alineacion"
        "texto"
        "info"
        "imagenes"
        "horarios";
        }

   
        .textoPrincipal{
            text-align: center;
            background-color: rgb(249, 156, 6);
            font-size: 100px;
        }
 
        .nav-link{
            background-color: rgb(6, 173, 244);
            font-size: 50px;
            color: rgb(248, 2, 10);
            font-weight: bolder;
            padding: 20px;
            text-align: center;
            border-radius: 50px;
            margin-left: 50px;
            
        }
        .texto{

            font-size: 70px;
            color: rgb(235, 235, 243);
            background-color: black;
            text-align: center;
            border: outset;
            margin: 80px 450px 200px 450px ;
        }
    
        .venta{
            text-align: left;
            font-size: 60px;
            color: rgb(247, 1, 1);
            font-weight: bolder;
            margin-left: 10px;
            margin-bottom: 30px;
           }
           .alineacion{

            text-align: left;
            font-size: 60px;
            font-weight: bolder;
            color:rgb(247, 1, 1);
            margin-left: 10px;
            margin-top: 30px;
            }
    
    

            .info{
                text-align: center;
                font-size: 50px;
                color: rgb(255, 140, 0);
                font-weight: bolder;
                margin: 50px 100px 150px 50px;
                border:groove rgb(3, 245, 209) 10px
                
            }
    }
