*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
 
}
header{
    width: 200%;
    height: 200%;
     background: url(../imagenes/cubiertas\ en\ fila-gigapixel-standard-scale-4_00x\ 222.jpg) no-repeat fixed;
     background-position: center;
     background-size:cover;
}
nav{
    grid-area: nav;
}
.nav-link{
    grid-area: navLink;
}
.servicio{
    grid-area: servicio;
}
.venta{
    grid-area: venta;
}
.alineacion{
    grid-area: alineacion;
}
.texto{
    grid-area: texto;
}
.info{
    grid-area: info;
}
.imagenes{
    grid-area: imagenes;
}
.textoPrincipal{
    grid-area: textoPrincipal;
}
.horarios{
    grid-area: horarios;
}





@media (min-width :406px){
      .container{
        grid-area:
        "textoPrincipal"
        "nav"
        "nav-link"
        "servicio"
        "venta"
        "alineacion"
        "texto"
        "info"
        "imagenes"
        "horarios";
        grid-template-columns: 1fr;
      }

      .textoPrincipal{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 50px;
        background-color: black;
          
      }
    .nav-link{
        font-size: 30px;
        color: rgb(244, 6, 6);
        font-weight: bolder;
        padding: 20px;
    }
    .servicio{
        font-size: 70px;
        font-weight: bolder;
        color: dodgerblue;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
   .venta{
    text-align: left;
    font-size: 30px;
    color: rgb(247, 128, 1);
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 30px;
   }

  .alineacion{

    text-align: left;
    font-size: 30px;
    font-weight: bolder;
    color: goldenrod;
    margin-left: 10px;
    margin-top: 30px;
    }

    .texto{

        font-size: 70px;
        color: red;
        background-color: black;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .info{
        font-size: 20px;
        color: orangered;
        font-weight: bolder;
        margin: 10px;
        margin-bottom: 100px;
    }

    .imagenes{
        text-align: center;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
}
