@import "./layout/reset";
@import "./layout/body";
@import "./layout/propaganda";
@import "../utilities/mixins.scss";
@import "./layout/header";
@import "./layout/galeria";
@import "./layout/video";
@import "./layout/navbar.link";
@import "./layout/footer";
@import "./layout/descuento";




* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  display: flex;
  background-color: rgba(12, 12, 12, 0.971);
  justify-items: center;
  text-align: center; }


/**celular**/
@media (min-width: 420px) {
  .container {
    grid-template-areas: 
 "header"
 "tituloPrincipal"
 "navbar-toggler"
 "nav"
 "a"
 "propaganda"
 "descuento"
 "galeria" 
 "video"
 "footer";
 display: flex;
 grid-template-columns: 1fr; }
  .header {
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(248, 108, 8);
   }
 
    nav {
    grid-template-columns: 20px;
    margin-left: 30px; }
  .navbar-toggler {
    margin-top: 70px;
    margin-bottom: 70px;
    border-color: black;
    border: solid 5px;
    background-color: aliceblue; }
  a {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-size: 30px;
    color: black; }
  
    .galeria {
    gap: 10px;
    padding: 20px; }
 
    .marcas {
    margin-left: 10px;
    margin-top: 20px; }
  
  
    footer {
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 30px;
    font-style: oblique;
    background-color: yellow;
    padding: 20px;
    margin-left: 20px; } }

/* TABLET */
@media (min-width: 720px) {
  .container {
    column-width: 100%;
    display: grid;
    grid-template-areas: 
 "header"
 "nav"
 "a"
 "propaganda"
 "descuento"
 "galeria" 
 "video"
 "footer";
    grid-template-columns: 1fr; }
  header {
    font-size: 80px;
    text-align: center;
    color: #02e9f5;
    background: none;
    display: grid;
    margin-bottom: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-right: 30px; }
  .descuento {
    color: #0f0f0f;
    font-size: 40px;
    margin: 120px;
    font-weight: bolder;
    background-color: #04c2f1;
    border: outset #f9f6f6;
    border-width: 5px 10px;
    border-color: #f8f5f5;
    justify-content: center; }
  nav {
    display: flex;
    text-align: center;
    background-color: darkgray;
    margin: 20px;
    padding: 10px;
    padding-left: 50px;
    margin-right: 10px; 
  }
  a {
    font-size: 50px;
    color: coral; }
  .propaganda {
    font-size: 40px;
    display: grid;
    border: 10px double #010101;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px; }
  .galeria {
    background-color: aliceblue;
    margin: 10px 200px 10px 200px;
    box-shadow: 3px 5px 5px black;
    padding: 10px;
    gap: 10px; }
  video {
    justify-content: center;
    text-align: center;
    margin: 10px; }
  footer {
    font-size: 40px;
    margin-bottom: 50px;
    font-style: oblique;
    background-color: yellow;
    padding: 20px; } }

@media (min-width: 1024px){
   .container{
  column-width: 100%;
  display: grid;
  grid-template-areas: 
"header"
"nav"
"a"
"propaganda"
"descuento"
"galeria" 
"video"
"footer";
  grid-template-columns: 1fr;}
  header{
    font-size: 100px;
    text-align: center;
    color: #07effb;
    display: grid;
   }
  .navbar-toggler {
    margin-top: 70px;
    margin-bottom: 70px;
    border-color: black;
    border: solid 10px; 
  }
  .nav-link {
    font-size: 50px;
    margin-right: 80px;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 50px; 
    background-color: none;
  }
  .galeria {
    background-color: aliceblue;
    padding-left: 200px;
    box-shadow: 3px 5px 5px black;
    padding: 10px;
    gap: 10px; } 
 }
     