.nav{
    margin-bottom: 50px;
    
    ul{
        color: black;
    }
    li{
        font-size: 50px;
        text-align: center;}
        color: black;

    a{
        color: black;
        background-color: aliceblue;

    }
    }