.propaganda{
    font-size: 20px; 
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(243, 248, 247, 0.948);
    font-weight: bolder;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}